<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <% include ./partials/head.ejs %>
    <title>Home Page</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <a href="#">Log In</a><br>
        <a href="/users/new">Create New User</a>
    </body>
</html>
