<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>New User Page</title>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
            <div class="container container-fluid d-flex justify-content-center align-items-center" id="form">
            <form action="/users" method="post">
            <fieldset>
                <legend id="leg">New User Profile</legend>
                    <label for="username">Username:</label><br><input type="text" name="username"><br>
                    <label for="password">Password:</label><br><input type="password" name="password"><br><br>
                    <input type="submit" value="Create New User">
                </fieldset>
            </form>
            </div>
            <div id="filler">

            </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
