<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>Edit Recipe Page</title>
    </head>
    <body>
        <h1>Edit Recipe Page</h1>
        <form action="/recipes/<%=recipe.id%>?_method=PUT" method="post">
            Recipe Name: <input type="text" name="name" value="<%=recipe.name%>"><br>
            Entry: <input type="text" name="entry" value="<%=recipe.entry%>"><br>
            <input type="submit" value="Edit Recipe">
        </form>
        <a href="/recipes">Back to Recipes</a>
    </body>
</html>
