<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Edit Recipe Page</title>
    </head>
    <body>
        <h1>Edit Recipe Page</h1>
    </body>
</html>
