<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>Recipe Index Page</title>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container-fluid d-flex justify-content-end align-items-center" id="heroImg2">
            <h1 id="heroText2">Try Some<br>Of Our<br>Recipes</h1>
        </div>
        <ul>
            <% for(i = 0; i < recipes.length; i++){%>
                <li>
                    Recipe Name: <a href="/recipes/<%=recipes[i].id%>"><%=recipes[i].name%></a>
                </li>
            <%}%>
        </ul>
        <% include ../partials/footer.ejs %>
    </body>
</html>
