<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/app.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Recipe Index Page</title>
    </head>
    <body>
        <h1>Recipe Index Page</h1>
        <ul>
            <% for(i = 0; i < recipes.length; i++){%>
                <li>
                    Recipe Name: <a href="/recipes/<%=recipes[i].id%>"><%=recipes[i].name%></a>
                </li>
            <%}%>
        </ul>
        <a href="/recipes/new">Create a New Recipe</a>
    </body>
</html>
