<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>Recipe Index Page</title>
    </head>
    <body>
        <h1>Recipe Index Page</h1>
        <ul>
            <% for(i = 0; i < recipes.length; i++){%>
                <li>
                    Recipe Name: <a href="/recipes/<%=recipes[i].id%>"><%=recipes[i].name%></a>
                </li>
            <%}%>
        </ul>
        <a href="/recipes/new">Create a New Recipe</a>
    </body>
</html>
