<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>New Recipe Page</title>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div class="container-fluid d-flex justify-content-center align-items-end" id="heroImg3">
        <h1 id="heroText3">Create New Recipes</h1>
        </div>
        <div class="container container-fluid d-flex justify-content-center align-items-center" id="form">
            <form action="/recipes" method="post">
                <fieldset>
                    <legend id="leg">New Recipe</legend>
                    <label for="name">Name of Recipe:</label><br><input type="text" name="name"><br>
                    <label for="sides">Sides:</label><br><input type="text" name="sides"><br>
                    <label for="img">Image Url:</label><br><input type="text" name="img"><br>
                    <label for="ingredients">Ingredients:</label><br><textarea name="ingredients" rows="8" cols="80"></textarea><br>
                    <label for="cooking1">Cooking Instructions Step 1:</label><br><textarea name="cooking1" rows="8" cols="80"></textarea><br>
                    <label for="cooking2">Cooking Instructions Step 2:</label><br><textarea name="cooking2" rows="8" cols="80"></textarea><br>
                    <label for="cooking3">Cooking Instructions Step 3:</label><br><textarea name="cooking3" rows="8" cols="80"></textarea><br>
                    <label for="cooking4">Cooking Instructions Step 4:</label><br><textarea name="cooking4" rows="8" cols="80"></textarea><br>
                    <label for="cooking5">Cooking Instructions Step 5:</label><br><textarea name="cooking5" rows="8" cols="80"></textarea><br>
                    <input type="submit" value="Create New Recipe"><br>
                </fieldset>
            </form>
        </div>

        <% include ../partials/footer.ejs %>
    </body>
</html>
