<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/app.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>New Recipe Page</title>
    </head>
    <body>
        <h1>New Recipe Page</h1>
        <form action="/recipes" method="post">
            Name: <input type="text" name="name"><br>
            Entry: <input type="text" name="entry"><br>
            <input type="submit" value="Create New Recipe"><br>
        </form>
        <a href="/recipes">Back to Recipes</a>
    </body>
</html>
