<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>New Recipe Page</title>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <h1>New Recipe Page</h1>
        <form action="/recipes" method="post">
            Name: <input type="text" name="name"><br>
            Entry: <input type="text" name="entry"><br>
            <input type="submit" value="Create New Recipe"><br>
        </form>
        <a href="/recipes">Back to Recipes</a>
        <% include ../partials/footer.ejs %>
    </body>
</html>
