<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>Recipe Show Page</title>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <h1>Recipe Show Page</h1><br>
        Recipe Name: <%=recipe.name%><br>
        Entry: <%=recipe.entry%><br>
        <form action="/recipes/<%=recipe.id%>?_method=DELETE" method="post">
            <input type="submit" value="Delete Recipe">
        </form>
        <a href="/recipes/<%=recipe.id%>/edit">Edit Recipe</a><br>
        <a href="/recipes">Back to Recipes</a>
        <% include ../partials/footer.ejs %>
    </body>
</html>
